html, body {
    font-size: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    height: 100%;
}

.page {
	height: 95%;
	display: flex;
}

.hidden {
    display: none;
}

#all_the_tabs {
    display: flex;
    height: 7.5%;
}

.tab {
    text-align: center;
    /*height: 40px;*/
    width: 100%;
    font-size: 150%;
    padding-top: 15px;
    padding-left: 0px;
    padding-bottom: 2px;
    font-family: Helvetica;
    border-radius: 18px 18px 0px 0px;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    min-width: 150px;
}

#home_tab {
	width: 66.5%;
}

.menu_big_div {
	background-color: #095087;
	width: 25%;
	min-width: 25%;
	min-height: 100%;
}

#computer_science_page {
	min-height: 1800px;
}

.menu {
	background-color: #095087;
	color: #b5d1de;
	min-width: 25%;
	padding: 20px;
	padding-left: 32px;
	padding-right: 32px;
  	box-sizing: border-box;
}

.lastmenu {
	padding-bottom: 10px;
}

.submenu {
	padding-top: 10px;
	padding-bottom: 10px;
}

canvas {
	display: block;
	margin: auto;
	text-align: center;
}

.p5 {
	padding: 20px;
}

.content {
	width: 75%;
	min-height: 95%;
	margin: auto;
	text-align: center;
	margin-top: 0px;
}

.sketches {
	width: 1000px;
	height: 505px;
	border: none;
	margin: auto;
	text-align: center;
	/*display: block;*/
}

#sketch5, #sketch10 {
	height: 605px;
}

#sketch6, #sketch7 {
	height: 760px;
}

#sketch9 {
	height: 760px;
}

.title {
	margin-top: 22px;
	margin-bottom: 20px;
}

p {
	text-align: left;
	padding: 10px 70px;
}

a {
	text-align: left;
	padding: 10px 70px;
	display: block;
	color: #609;
}

#controls_div {
    background-color: #095087;
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 20px;
    padding-left: 40px;
    display: flex;
    text-align: center;
} 

.controls_sub_div {
	display: block;
	width: 50%;
}

.input_div {
	padding: 10px 0px;
}

.input_span {
	display: inline-block;
	width: 200px;
	text-align: right;
}

input {
	width: 50px;
}

::placeholder { 
	opacity: 0.8; 
}

.math_h2 {
	text-align: left;
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 35px;
	font-size: 120%;
}

.math_p {
	margin-top: 0px;
	line-height: 1.4;
}

.computer_science_h2 {
	text-align: left;
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 35px;
	font-size: 120%;
}

.computer_science_p {
	margin-top: 0px;
	line-height: 1.4;
}

ul {
	margin-top: 10px;
}

li {
	text-align: left;
	margin-left: 70px;
	margin-right: 70px;
	padding-bottom: 5px;
}

.a_link {
	padding: 0px;
	line-height: 1.4;
}
/*@media(max-width: 1200px) {
    .tab {
    	font-size: 100%;
    	padding-top: 20px;
    	padding-bottom: 20px;
    }
}*/







